$stripe--colorPrimaryText           : #FFF;
$stripe--p-colorPrimaryHover        : #1F8AFF;
$stripe--p-colorPrimaryActive       : #3395FF;
//$stripe--p-colorPrimaryAlpha20                       : hsla(211, 100%, 50%, 25%);
//$stripe--p-colorPrimaryAlpha40                       : hsla(211, 100%, 50%, 40%);
//$stripe--p-colorPrimaryAlpha50                       : hsla(211, 100%, 50%, 50%);
$stripe--p-colorPrimaryDisabled     : #CDCDCD;
$stripe--p-colorPrimaryDisabledText : #858585;
$stripe--colorBackgroundText                         : #30313D;
//$stripe--p-colorBackgroundDivider                    : #E5E5E5;
$stripe--p-colorBackgroundDisabled  : #E5E5E5;
//$stripe--p-colorBackgroundDisabledDeemphasize05      : #DADADA;
//$stripe--p-colorBackgroundDeemphasize03              : #EAEAEA;
//$stripe--p-colorBackgroundDeemphasize05              : #E5E5E5;
//$stripe--p-colorBackgroundDeemphasize10              : #D9D9D9;
//$stripe--p-colorBackgroundDeemphasize15              : #CDCDCD;
//$stripe--p-colorBackgroundDeemphasize20              : #C1C1C1;
$stripe--p-colorBackgroundLightenAbsolute05          : #FEFEFE;
//$stripe--p-colorBackgroundContrastAlpha05            : rgba(0, 0, 0, 0.05);
//$stripe--p-colorBackgroundContrastAlpha08            : rgba(0, 0, 0, 0.08);
//$stripe--p-colorBackgroundContrastAlpha30            : rgba(0, 0, 0, 0.3);
//$stripe--colorTextSecondary                          : #6D6E78;
$stripe--colorTextPlaceholder       : #6F7076;
//$stripe--colorSuccessText                            : #FFF;
//$stripe--colorDangerText                             : #FFF;
//$stripe--colorWarningText                            : #30313D;
$stripe--fontFamily                 : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
//$stripe--fontSmooth                                  : always;
//$stripe--fontVariantLigatures                        : normal;
//$stripe--fontVariationSettings                       : normal;
$stripe--fontLineHeight             : 1.45;
$stripe--fontSizeBase               : 1rem;
$stripe--fontSizeSm                 : 0.93rem;
//$stripe--fontSizeXs                                  : 0.875rem;
//$stripe--fontSize2Xs                                 : 0.8125rem;
//$stripe--fontSize3Xs                                 : 0.75rem;
//$stripe--fontSizeLg                                  : 1.0625rem;
//$stripe--fontSizeXl                                  : 1.125rem;
//$stripe--fontSize2Xl                                 : 1.25rem;
//$stripe--fontWeightLight                             : 300;
$stripe--fontWeightNormal           : 400;
$stripe--fontWeightMedium           : 600;
//$stripe--fontWeightBold                              : bold;
$stripe--colorPrimary               : rgb(0, 122, 255);
$stripe--colorBackground            : #F1F1F1;
$stripe--colorText                  : #30313D;
$stripe--colorSuccess               : #00BB34;
$stripe--colorDanger                : #DF1B41;
//$stripe--colorWarning                                : #F6E6B9;
//$stripe--colorIcon                                   : $stripe--colorTextSecondary;
//$stripe--colorIconHover                              : $stripe--colorText;
//$stripe--colorIconCheckmark                          : $stripe--colorPrimaryText;
//$stripe--colorIconCardError                          : $stripe--colorDanger;
//$stripe--colorIconCardCvc                            : $stripe--colorIcon;
//$stripe--colorIconCardCvcError                       : $stripe--colorDanger;
//$stripe--colorIconChevronDown                        : $stripe--colorIcon;
//$stripe--colorIconChevronDownHover                   : $stripe--colorIconHover;
//$stripe--colorIconClose                              : $stripe--colorIcon;
//$stripe--colorIconCloseHover                         : $stripe--colorIconHover;
//$stripe--colorIconLoadingIndicator                   : $stripe--p-colorBackgroundContrastAlpha30;
//$stripe--colorIconMenu                               : $stripe--colorPrimary;
//$stripe--colorIconMenuHover                          : $stripe--colorIconMenu;
//$stripe--colorIconMenuOpen                           : $stripe--colorIconMenu;
//$stripe--colorIconPasscodeDevice                     : $stripe--colorIcon;
//$stripe--colorIconPasscodeDeviceHover                : $stripe--colorIconHover;
//$stripe--colorIconPasscodeDeviceNotification         : $stripe--colorPrimary;
//$stripe--colorIconRedirect                           : currentColor;
//$stripe--colorIconTab                                : $stripe--colorIcon;
//$stripe--colorIconTabHover                           : $stripe--colorText;
//$stripe--colorIconTabSelected                        : $stripe--colorPrimaryText;
//$stripe--colorIconTabMore                            : $stripe--colorIcon;
//$stripe--colorIconTabMoreHover                       : $stripe--colorText;
//$stripe--p-spacingXs                                 : 1px;
//$stripe--p-spacingSm                                 : 2px;
$stripe--p-spacing1                 : 0.25rem;
//$stripe--p-spacing2                                  : 0.5rem;
$stripe--p-spacing3                 : 0.75rem;
$stripe--p-spacing4                 : 1rem;
$stripe--p-spacing5                 : 1.25rem;
//$stripe--p-spacing6                                  : 1.5rem;
//$stripe--p-spacing7                                  : 1.75rem;
//$stripe--p-spacing8                                  : 2rem;
//$stripe--p-spacing9                                  : 2.25rem;
//$stripe--p-spacing10                                 : 2.5rem;
//$stripe--spacingUnit                                 : 0.25rem;
$stripe--spacingGridRow             : $stripe--p-spacing3;
//$stripe--spacingGridColumn                           : $stripe--p-spacing3;
//$stripe--spacingTab                                  : $stripe--p-spacing1;
//$stripe--spacingPickerItem                           : $stripe--p-spacing2;
$stripe--borderRadius               : 12px;
//$stripe--focusBoxShadow                              : 0 0 0 3px $stripe--p-colorPrimaryAlpha20, 0 0 0 1px $stripe--p-colorPrimaryAlpha50;
//$stripe--focusOutline                                : 0;
//$stripe--p-logoLightDisplay                          : block;
//$stripe--p-logoDarkDisplay                           : none;
//$stripe--p-logoTabLightDisplay                       : block;
//$stripe--p-logoTabDarkDisplay                        : none;
//$stripe--p-logoTabSelectedLightDisplay               : block;
//$stripe--p-logoTabSelectedDarkDisplay                : none;
//$stripe--p-logoBlockLightDisplay                     : block;
//$stripe--p-logoBlockDarkDisplay                      : none;
//
//$stripe--c-inputPaddingTop                           : 16px;
//$stripe--c-inputPaddingRight                         : 16px;
//$stripe--c-inputPaddingBottom                        : 16px;
//$stripe--c-inputPaddingLeft                          : 16px;
//$stripe--c-inputBorderTopWidth                       : 0px;
//$stripe--c-inputBorderRightWidth                     : 0px;
//$stripe--c-inputBorderBottomWidth                    : 0px;
//$stripe--c-inputBorderLeftWidth                      : 0px;
//$stripe--c-inputDividerWidth                         : 1px;
//$stripe--c-inputDividerBackgroundColor               : $stripe--p-colorBackgroundDivider;
//$stripe--c-inputBorderTopLeftRadius                  : 12px;
//$stripe--c-inputBorderTopRightRadius                 : 12px;
//$stripe--c-inputBorderBottomRightRadius              : 12px;
//$stripe--c-inputBorderBottomLeftRadius               : 12px;
//$stripe--c-inputFontSize                             : 16px;
//$stripe--c-inputFontColor                            : rgb(48, 49, 61);
//$stripe--c-blockPaddingTop                           : 16px;
//$stripe--c-blockPaddingRight                         : 16px;
//$stripe--c-blockPaddingBottom                        : 16px;
//$stripe--c-blockPaddingLeft                          : 16px;
//$stripe--c-blockBackgroundColor                      : rgb(254, 254, 254);
//$stripe--c-blockDividerWidth                         : 1px;
//$stripe--c-blockDividerBackgroundColor               : $stripe--p-colorBackgroundDivider;
//$stripe--c-dropdownDividerWidth                      : 1px;
//$stripe--c-dropdownDividerBackgroundColor            : $stripe--p-colorBackgroundDivider;
//$stripe--c-dropdownItemBackgroundColor               : rgb(241, 241, 241);
//$stripe--c-pickerItemPaddingTop                      : 16px;
//$stripe--c-pickerItemPaddingRight                    : 16px;
//$stripe--c-pickerItemPaddingBottom                   : 16px;
//$stripe--c-pickerItemPaddingLeft                     : 16px;
//$stripe--c-pickerItemBackgroundColor                 : rgb(241, 241, 241);
//$stripe--c-pickerItemHoveredBackgroundColor          : rgb(234, 234, 234);
//$stripe--c-pickerItemFocusedBackgroundColor          : rgb(241, 241, 241);
//$stripe--c-pickerItemSelectedBackgroundColor         : rgb(254, 254, 254);
//$stripe--c-pickerItemSelectedHoveredBackgroundColor  : rgb(254, 254, 254);
//$stripe--c-pickerItemHighlightBackgroundColor        : rgb(254, 254, 254);
//$stripe--c-pickerItemHighlightHoveredBackgroundColor : rgb(254, 254, 254);
//$stripe--c-pickerItemHighlightFocusedBackgroundColor : rgb(254, 254, 254);
//$stripe--c-pickerItemDisabledBackgroundColor         : rgb(229, 229, 229);
//$stripe--c-pickerItemDisabledHoveredBackgroundColor  : rgb(229, 229, 229);
//$stripe--c-pickerItemDisabledFocusedBackgroundColor  : rgb(229, 229, 229);
//$stripe--c-pickerItemTransitionDelay                 : 0s, 0s, 0s, 0s;
//$stripe--c-pickerItemTransitionDuration              : 0.15s, 0.15s, 0.15s, 0.15s;
//$stripe--c-pickerItemTransitionProperty              : background, box-shadow, border, color;
//$stripe--c-pickerItemTransitionTimingFunction        : ease, ease, ease, ease;
//$stripe--c-actionPaddingTop                          : 4px;
//$stripe--c-actionPaddingRight                        : 6px;
//$stripe--c-actionPaddingBottom                       : 4px;
//$stripe--c-actionPaddingLeft                         : 6px;
//$stripe--c-labelRestingFontSize                      : 16px;
//$stripe--c-labelFloatingHeight                       : 20.0938px;
//$stripe--c-labelFloatingTransform                    : translateY(16px) scale(0.8888888888888888);
//$stripe--c-labelRestingTransform                     : translateY(26px) scale(1);
//$stripe--c-inputFloatingPaddingTop                   : 36px;
//$stripe--c-inputFloatingMarginLeft                   : 16px;
//$stripe--c-inputFloatingMarginRight                  : 16px;
//$stripe--p-pickerItemBackgroundColorDeemphasize03    : rgb(234, 234, 234);
//$stripe--p-pickerItemBackgroundColorDeemphasize05    : rgb(229, 229, 229);