$stripe--colorPrimaryText                            : #FFF;
$stripe--p-colorPrimaryHover                         : #0B81FA;
$stripe--p-colorPrimaryActive                        : #228CFA;
$stripe--p-colorPrimaryAlpha20                       : hsla(210, 96%, 45%, 25%);
$stripe--p-colorPrimaryAlpha40                       : hsla(210, 96%, 45%, 40%);
$stripe--p-colorPrimaryAlpha50                       : hsla(210, 96%, 45%, 50%);
$stripe--p-colorPrimaryDisabled                      : #D9D9D9;
$stripe--p-colorPrimaryDisabledText                  : #8D8D8D;
$stripe--colorBackgroundText                         : #30313D;
$stripe--p-colorBackgroundDivider                    : #F2F2F2;
$stripe--p-colorBackgroundDisabled                   : #F2F2F2;
$stripe--p-colorBackgroundDisabledDeemphasize05      : #E6E6E6;
$stripe--p-colorBackgroundDeemphasize03              : #F7F7F7;
$stripe--p-colorBackgroundDeemphasize05              : #F2F2F2;
$stripe--p-colorBackgroundDeemphasize10              : #E6E6E6;
$stripe--p-colorBackgroundDeemphasize15              : #D9D9D9;
$stripe--p-colorBackgroundDeemphasize20              : #CCCCCC;
$stripe--p-colorBackgroundLightenAbsolute05          : #FFFFFF;
$stripe--p-colorBackgroundContrastAlpha05            : rgba(0, 0, 0, 0.05);
$stripe--p-colorBackgroundContrastAlpha08            : rgba(0, 0, 0, 0.08);
$stripe--p-colorBackgroundContrastAlpha30            : rgba(0, 0, 0, 0.3);
$stripe--colorTextSecondary                          : #6D6E78;
$stripe--colorTextPlaceholder                        : #77787E;
$stripe--colorSuccessText                            : #FFF;
$stripe--colorDangerText                             : #FFF;
$stripe--colorWarningText                            : #30313D;
$stripe--fontFamily                                  : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$stripe--fontSmooth                                  : always;
$stripe--fontVariantLigatures                        : normal;
$stripe--fontVariationSettings                       : normal;
$stripe--fontLineHeight                              : 1.45;
$stripe--fontSizeBase                                : 1rem;
$stripe--fontSizeSm                                  : 0.93rem;
$stripe--fontSizeXs                                  : 0.875rem;
$stripe--fontSize2Xs                                 : 0.8125rem;
$stripe--fontSize3Xs                                 : 0.75rem;
$stripe--fontSizeLg                                  : 1.0625rem;
$stripe--fontSizeXl                                  : 1.125rem;
$stripe--fontSize2Xl                                 : 1.25rem;
$stripe--fontWeightLight                             : 300;
$stripe--fontWeightNormal                            : 400;
$stripe--fontWeightMedium                            : 600;
$stripe--fontWeightBold                              : bold;
$stripe--colorPrimary                                : #0570DE;
$stripe--colorBackground                             : #FFF;
$stripe--colorText                                   : #30313D;
$stripe--colorSuccess                                : #30B130;
$stripe--colorDanger                                 : #DF1B41;
$stripe--colorWarning                                : #F6E6B9;
$stripe--colorIcon                                   : $stripe--colorTextSecondary;
$stripe--colorIconHover                              : $stripe--colorText;
$stripe--colorIconCheckmark                          : $stripe--colorPrimaryText;
$stripe--colorIconCardError                          : $stripe--colorDanger;
$stripe--colorIconCardCvc                            : $stripe--colorIcon;
$stripe--colorIconCardCvcError                       : $stripe--colorDanger;
$stripe--colorIconChevronDown                        : $stripe--colorIcon;
$stripe--colorIconChevronDownHover                   : $stripe--colorIconHover;
$stripe--colorIconClose                              : $stripe--colorIcon;
$stripe--colorIconCloseHover                         : $stripe--colorIconHover;
$stripe--colorIconLoadingIndicator                   : $stripe--p-colorBackgroundContrastAlpha30;
$stripe--colorIconMenu                               : $stripe--colorPrimary;
$stripe--colorIconMenuHover                          : $stripe--colorIconMenu;
$stripe--colorIconMenuOpen                           : $stripe--colorIconMenu;
$stripe--colorIconPasscodeDevice                     : $stripe--colorIcon;
$stripe--colorIconPasscodeDeviceHover                : $stripe--colorIconHover;
$stripe--colorIconPasscodeDeviceNotification         : $stripe--colorPrimary;
$stripe--colorIconRedirect                           : currentColor;
$stripe--colorIconTab                                : $stripe--colorIcon;
$stripe--colorIconTabHover                           : $stripe--colorText;
$stripe--colorIconTabSelected                        : $stripe--colorPrimary;
$stripe--colorIconTabMore                            : $stripe--colorIcon;
$stripe--colorIconTabMoreHover                       : $stripe--colorText;
$stripe--p-spacingXs                                 : 1px;
$stripe--p-spacingSm                                 : 2px;
$stripe--p-spacing1                                  : 0.25rem;
$stripe--p-spacing2                                  : 0.5rem;
$stripe--p-spacing3                                  : 0.75rem;
$stripe--p-spacing4                                  : 1rem;
$stripe--p-spacing5                                  : 1.25rem;
$stripe--p-spacing6                                  : 1.5rem;
$stripe--p-spacing7                                  : 1.75rem;
$stripe--p-spacing8                                  : 2rem;
$stripe--p-spacing9                                  : 2.25rem;
$stripe--p-spacing10                                 : 2.5rem;
$stripe--spacingUnit                                 : 0.25rem;
$stripe--spacingGridRow                              : $stripe--p-spacing3;
$stripe--spacingGridColumn                           : $stripe--p-spacing3;
$stripe--spacingTab                                  : $stripe--p-spacing1;
$stripe--spacingPickerItem                           : $stripe--p-spacing2;
$stripe--borderRadius                                : 5px;
$stripe--focusBoxShadow                              : 0 0 0 3px $stripe--p-colorPrimaryAlpha20, 0 1px 1px 0 $stripe--p-colorBackgroundContrastAlpha08;
$stripe--focusOutline                                : 0;
$stripe--p-logoLightDisplay                          : block;
$stripe--p-logoDarkDisplay                           : none;
$stripe--p-logoTabLightDisplay                       : block;
$stripe--p-logoTabDarkDisplay                        : none;
$stripe--p-logoTabSelectedLightDisplay               : block;
$stripe--p-logoTabSelectedDarkDisplay                : none;
$stripe--p-logoBlockLightDisplay                     : block;
$stripe--p-logoBlockDarkDisplay                      : none;
$stripe-webkit-font-smoothing                        : antialiased;
$stripe-moz-osx-font-smoothing                       : grayscale;

$stripe--c-inputPaddingTop                           : 12px;
$stripe--c-inputPaddingRight                         : 12px;
$stripe--c-inputPaddingBottom                        : 12px;
$stripe--c-inputPaddingLeft                          : 12px;
$stripe--c-inputBorderTopWidth                       : 1px;
$stripe--c-inputBorderRightWidth                     : 1px;
$stripe--c-inputBorderBottomWidth                    : 1px;
$stripe--c-inputBorderLeftWidth                      : 1px;
$stripe--c-inputDividerWidth                         : 1px;
$stripe--c-inputDividerBackgroundColor               : rgb(230, 230, 230);
$stripe--c-inputBorderTopLeftRadius                  : 5px;
$stripe--c-inputBorderTopRightRadius                 : 5px;
$stripe--c-inputBorderBottomRightRadius              : 5px;
$stripe--c-inputBorderBottomLeftRadius               : 5px;
$stripe--c-inputFontSize                             : 16px;
$stripe--c-inputFontColor                            : rgb(48, 49, 61);
$stripe--c-blockPaddingTop                           : 12px;
$stripe--c-blockPaddingRight                         : 12px;
$stripe--c-blockPaddingBottom                        : 12px;
$stripe--c-blockPaddingLeft                          : 12px;
$stripe--c-blockBackgroundColor                      : rgb(255, 255, 255);
$stripe--c-blockDividerWidth                         : 1px;
$stripe--c-blockDividerBackgroundColor               : rgb(230, 230, 230);
$stripe--c-dropdownDividerWidth                      : 1px;
$stripe--c-dropdownDividerBackgroundColor            : rgb(230, 230, 230);
$stripe--c-dropdownItemBackgroundColor               : rgb(255, 255, 255);
$stripe--c-pickerItemPaddingTop                      : 12px;
$stripe--c-pickerItemPaddingRight                    : 12px;
$stripe--c-pickerItemPaddingBottom                   : 12px;
$stripe--c-pickerItemPaddingLeft                     : 12px;
$stripe--c-pickerItemBackgroundColor                 : rgb(255, 255, 255);
$stripe--c-pickerItemHoveredBackgroundColor          : rgb(247, 247, 247);
$stripe--c-pickerItemFocusedBackgroundColor          : rgb(255, 255, 255);
$stripe--c-pickerItemSelectedBackgroundColor         : rgb(255, 255, 255);
$stripe--c-pickerItemSelectedHoveredBackgroundColor  : rgb(255, 255, 255);
$stripe--c-pickerItemHighlightBackgroundColor        : rgb(255, 255, 255);
$stripe--c-pickerItemHighlightHoveredBackgroundColor : rgb(247, 247, 247);
$stripe--c-pickerItemHighlightFocusedBackgroundColor : rgb(255, 255, 255);
$stripe--c-pickerItemDisabledBackgroundColor         : rgb(230, 230, 230);
$stripe--c-pickerItemDisabledHoveredBackgroundColor  : rgb(230, 230, 230);
$stripe--c-pickerItemDisabledFocusedBackgroundColor  : rgb(230, 230, 230);
$stripe--c-pickerItemTransitionDelay                 : 0s, 0s, 0s, 0s;
$stripe--c-pickerItemTransitionDuration              : 0.15s, 0.15s, 0.15s, 0.15s;
$stripe--c-pickerItemTransitionProperty              : background, box-shadow, border, color;
$stripe--c-pickerItemTransitionTimingFunction        : ease, ease, ease, ease;
$stripe--c-actionPaddingTop                          : 4px;
$stripe--c-actionPaddingRight                        : 6px;
$stripe--c-actionPaddingBottom                       : 4px;
$stripe--c-actionPaddingLeft                         : 6px;
$stripe--c-labelRestingFontSize                      : 16px;
$stripe--c-labelFloatingHeight                       : 20.0938px;
$stripe--c-labelFloatingTransform                    : translateY(13px) scale(0.8888888888888888);
$stripe--c-labelRestingTransform                     : translateY(23px) scale(1);
$stripe--c-inputFloatingPaddingTop                   : 32px;
$stripe--c-inputFloatingMarginLeft                   : 13px;
$stripe--c-inputFloatingMarginRight                  : 13px;
$stripe--p-pickerItemBackgroundColorDeemphasize03    : rgb(247, 247, 247);
$stripe--p-pickerItemBackgroundColorDeemphasize05    : rgb(242, 242, 242);