/*! For licensing and copyright information applicable to the product that this file belongs to, please see ../license.txt. */
.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM svg {
  width: 100%;
  height: 100%;
  display: block;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container {
  margin-right: 0;
  display: grid;
  gap: 5px;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer.col-large .et-fb-multiple-buttons-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer.col-medium .et-fb-multiple-buttons-container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer.col-small .et-fb-multiple-buttons-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer.col-very-small .et-fb-multiple-buttons-container {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container li.et-fb-multiple-buttons-toggle {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container li.et-fb-multiple-buttons-toggle:last-child {
  flex-grow: 0;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container li.et-fb-multiple-buttons-toggle span {
  background: #F1F5F9;
  padding: 4px 5px;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container li.et-fb-multiple-buttons-toggle .et-fb-multiple-buttons-toggle-internal {
  border: 3px solid #F1F5F9;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container li.et-fb-multiple-buttons-toggle .et-fb-multiple-buttons-toggle-internal__active {
  border-color: #2B96E1;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container li.et-fb-multiple-buttons-toggle .wpz-image-select-pro-option {
  position: absolute;
  right: 0;
  line-height: 1;
  transform: rotate(-45deg);
  background: #f00;
  left: -20px;
  top: 10px;
  font-size: 12px;
  color: #fff;
  width: 90px;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .et-fb-multiple-buttons-outer .et-fb-multiple-buttons-container .et-fb-multiple-buttons-toggle .et-fb-multiple-buttons-toggle-internal {
  height: unset;
}
.wpz-upgrade-notice-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}

.wpz-upgrade-notice-container .wpz-upgrade-notice {
  max-width: 400px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 30vh;
  padding: 1em;
}

.wpz-upgrade-notice-container .wpz-upgrade-notice .wpz-upgrade-buttons {
  text-align: center;
}

.wpz-upgrade-notice-container .wpz-upgrade-notice .wpz-upgrade-buttons button {
  background-color: #6c2eb9;
  color: #fff;
  border: 0;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  border-radius: 5px;
}
#wpz_payment_info .wpz-payment-meta-3col, #wpz_payment_info .wpz-payment-meta-item, #wpz_payment_info .wpz-payment-meta-full {
  padding: 1em 0;
  clear: left;
}

#wpz_payment_info label {
  font-weight: bold;
}

#wpz_payment_info .wpz-payment-meta-3col > div {
  width: 33.33%;
  float: left;
}

#wpz_payment_info .wpz-payment-meta-item > div {
  width: 16.66%;
  float: left;
  background-color: #ccc;
  padding: 0.5em;
  box-sizing: border-box;
  white-space: nowrap;
}

#wpz_payment_info .wpz-payment-meta-item > div:first-child {
  width: 50%;
}

#wpz_payment_info .wpz-payment-meta-item label {
  display: block;
}

#wpz_payment_info .notes-textarea {
  width: 100%;
  height: 5em;
}
/* VB Module List */
.et-db #et-boc .et-l .et-fb-modules-list li.wpz_payments_divi_module {
  border-left: 5px solid #6A39E4 !important;
  border-radius: 0 5px 5px 0 !important;
  padding: 15px 15px 10px 10px;
}

.et-db #et-boc .et-l .et-fb-modules-list li.wpz_payments_divi_module svg {
  max-height: 25px;
}

.et-db #et-boc .et-l .et-fb-modules-list li.wpz_payments_divi_module .et_module_title {
  margin-top: 8px;
}

body.wpz_payments_divi_module-modal-open #et-fb-app .et-fb-modal__content .et-fb-item-addable-button, body.wpz_payments_divi_module-modal-open #et-fb-app .et-fb-modal__content .et-fb-settings-module-item-button--copy, body.wpz_payments_divi_module-modal-open #et-fb-app .et-fb-modal__content .et-fb-settings-module-item-button--delete {
  display: none;
}

/* Multi select field */
.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .preloader-icons-field svg {
  width: 30px;
  height: 30px;
  max-width: 100%;
  margin: 8px auto;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .preloader-icons-field svg.spinner_fill, .et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .preloader-icons-field svg.spinner_spinning_circles circle {
  fill: #4C5866;
}

.et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .preloader-icons-field svg.spinner_stroke, .et-db #et-boc .et-l .et-fb-option--DSLayoutMultiselect-DSDPM .preloader-icons-field svg.spinner_spinning_circles {
  stroke: #4C5866;
}
